---
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
import Workspace from '../components/Workspace';
---

<Layout title="JSON to MD">
	<main>
		<Title>package.json to MD</Title>
		<Workspace client:load />
	</main>
</Layout>