---
interface Props {
	title: string;
}

import '@fontsource-variable/onest';
import '../globals.css'
import Github from '../icons/Github.astro'
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Easily transform your package.json file into structured documentation in Markdown format. Upload your file or paste the content to get ready-to-use documentation with JSON2MD.">
		<title>{title}</title>
	</head>
	<body class="relative">
		<a href="https://github.com/AgustinGomezDev/packagejsontomd" target="_blank" class="cursor-pointer">
			<Github class="bg-gray-700 hover:bg-gray-800 transition-colors absolute right-0 -mt-5 md:-mt-10 text-white size-8 p-4 rounded-bl-lg box-content" />
		</a>
		<slot />
	</body>
</html>